@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Outfit:wght@600&family=Rubik:wght@300&family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

.mainPageContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 110vh;
  background-color: rgb(17, 17, 17);
  justify-content: flex-start;
  align-items: center;
}

.homePageBackground {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.homeMainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pageLogo {
  flex: 1;
  max-width: 50%;
  margin: 30px;
  height: 450px;
}

.verticalSeparator {
  width: 1px;
  height: 100%;
  background-color: rgb(54, 202, 239);
  margin: 0 20px;
}

.signInContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
}

.welcomeText,
.moreText {
  text-align: center;
  margin-right: 15px;
  font-family: "Kanit", sans-serif;
}

.signInButton {
  margin-top: 65px !important;
  margin-bottom: 30px !important;
  background-color: rgba(63, 217, 227, 0.714) !important;
  color: rgb(4, 4, 62) !important;
  width: 10vw;
  height: 8vh;
  font-family: "Kanit", sans-serif;
}

.signInButton:hover {
  background-color: rgba(8, 239, 255, 0.5) !important;
}

.navBarContainer {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px 20px 0px;
  margin-bottom: 20px;
}

.navBarLogo {
  height: 65px;
  width: 110px;
}

.horizontalSeparator {
  width: 100vw;
  background-color: rgb(54, 202, 239);
  height: 1px;
  margin-bottom: 50px;
}

.navButtons {
  font-family: "Kanit", sans-serif !important;
  background-color: none !important;
  color: white !important;
  width: 250px !important;
}

.navButtons:hover {
  background-color: rgba(10, 219, 234, 0.5) !important;
}

.SignInMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #0a2a35;
  width: 80vw;
  height: 75vh;
}

.SignInHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #0a2a35;
  width: 80vw;
  height: 50px;
}

.loginHeader,
.registerHeader {
  background-color: #1976d2;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: white;
  z-index: 20;
  cursor: pointer;
}

.registerHeader {
  color: #9dc4eb;
}

.SignInFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 50px);
}

.logInFormContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 50px);
  margin-top: 150px;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 20;
}

.registerFormContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 50px);
  margin-top: 100px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 10;
}

.loginHeading,
.registerHeading {
  display: flex;
  justify-content: center;
  color: #60d38d;
  font-size: 32px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 20px;
}

.signInBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loginTextField,
.registerTextField {
  margin: 15px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}

.registerTextField {
  margin: 10px !important;
}

.loginButton,
.registerButton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  margin: auto !important;
  background-color: rgb(8, 3, 76) !important;
  color: rgb(0, 255, 98) !important;
  width: 15vw !important;
  margin-top: 22px !important;
}

.loginButton:hover,
.registerButton:hover {
  background-color: rgba(40, 6, 58, 0.864) !important;
  color: yellowgreen !important;
}

.LoginPromptTextField {
  color: yellow;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.registerPromptTextField {
  color: yellow;
  margin-top: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.loginButton {
  margin-top: 12px !important;
}

.postLoginNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
  height: 12vh;
  width: 100vw;
  box-shadow: 2px 2px 2px 4px rgb(187, 187, 50);
  margin-bottom: 2px;
}

.postLoginNavButtons {
  font-family: "Rubik", sans-serif !important;
}

.postLoginNavButtons:hover {
  background-color: rgba(175, 175, 247, 0.1) !important;
}

.postLoginNavBarLogoButton {
  position: absolute !important;
  left: 20px !important;
}

.postLoginNavBarLogoButton:hover {
  background-color: transparent !important;
}

.postLoginNavBarLogo {
  height: 7vh !important;
  width: 6vw !important;
}

.accountNameAndLogout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
}

.userNameHolder {
  color: yellowgreen;
  margin: 7px;
}

.postLoginHomePageBackground {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #030303;
  height: calc(88vh - 2px);
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.smallVerticalSeparator {
  height: 6vh;
  width: 2px;
  background-color: white;
}

.postVoice {
  background-color: #030303;
}

.accountSettingsBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(88vh - 2px);
  width: 100vw;
  background-color: #030303;
}

.accountDetailsContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 60vw;
  background-color: #1a1a1b;
  color: white;
  border-radius: 15px;
}

.accountInfoSocials {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  margin: 30px;
}

.accountDetialsUsernameAndPhotoHolder,
.chorusOfUserHolder,
.chorusToUsersHolder,
.trusteeHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accountDetailsUserNameHolder,
.accountDetailText,
.mainAccountDetailValue {
  font-family: "Work sans", sans-serif;
  color: rgb(74, 230, 50);
}

.accountDetailsVerticalSeparator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 55vw;
  background-color: rgb(197, 235, 229);
  margin: 35px;
}

.moreDetailsViewButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  width: 60vw;
}

.detailViewButtons {
  background-color: yellow !important;
  color: black !important;
  font-family: "Work Sans", sans-serif !important;
}

.postSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.postHeading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.postsContainer {
  font-family: "Work Sans", sans-serif;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.3s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.createPostBackground {
  overflow-y: scroll !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #090202;
  height: calc(88vh - 2px);
  width: 100vw;
  padding-top: 50px;
}

.createPostHeading {
  color: orange;
  font-family: "Outfit", sans-serif;
}

.createPostTextFieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.createPostTextFields {
  margin: 10px !important;
}

.createPostButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.createPostPrompt {
  color: orangered;
  font-family: "Outfit", sans-serif;
}

.createPostButtons {
  background-color: rgb(164, 236, 20) !important;
  color: brown !important;
  width: 12vw !important;
  margin: 20px !important;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202224;
  color: black;
  margin: 25px;
  padding: 25px;
  width: 50vw;
  border-radius: 35px;
}

.postTitle,
.postContent,
.postTags,
.postCreator,
.postDate,
.likes {
  font-family: "Work Sans", sans-serif;
  margin: 10px;
  color: violet;
}

.viewPost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.showPostBottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.viewPostButton {
  background-color: orange !important;
  color: black !important;
  width: 8vw !important;
  padding: 7px !important;
  margin: 10px !important;
}
.viewPostButton:hover {
  background-color: yellow !important;
}

.explorePageBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
  background-color: #030303;
}

.exploreContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1a1a1b;
  height: 80vh;
  width: 65vw;
}

.searchSpace {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  width: 65vw;
}

.searchBarAndButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.searchBar {
  margin: 20px 20px 20px 0;
}

.searchButton {
  background-color: #227cc6 !important;
  color: yellowgreen !important;
  font-family: "Outfit", sans-serif !important;
  margin-left: 10px !important;
  border-radius: 75px !important;
}

.checkBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.checkBoxes {
  margin: 0 5px 0 5px;
  font-family: "Work sans", sans-serif !important;
}

.helperText {
  font-family: "Work sans", sans-serif;
  margin: 7px;
  color: #d27f19;
}

.explorePagehorizontalSeparator {
  width: 60vw;
  height: 2px;
  background-color: aqua;
  margin-bottom: 20px;
}

.resultSpace {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(60vh - 2px);
  width: 65vw;
  overflow-y: scroll;
}

.searchTypeHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: yellowgreen;
}

.loadingPostsMessage {
  height: 80vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: #202224;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  margin: 20px;
}

.noPostsFoundMessage {
  height: 10vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: #162535;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accountContainer {
  height: 10vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #162535;
  font-family: "Kanit" !important;
  margin: 20px;
  border-radius: 10px;
}

.accountUsername {
  margin: 50px;
  color: olivedrab;
}

.viewUserButton {
  margin: 50px !important;
  color: black !important;
  background-color: yellow !important;
  font-family: "Kanit" !important;
}