@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

.mainPageContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 17, 17);
  justify-content: flex-start;
  align-items: center;
}

.homePageBackground {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.homeMainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pageLogo {
  flex: 1;
  max-width: 50%;
  margin: 30px;
  height: 450px;
}

.verticalSeparator {
  width: 1px;
  height: 100%;
  background-color: rgb(54, 202, 239);
  margin: 0 20px; /* Adjust the margin as per your design preference */
}

.signInContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  color: white;
}

.welcomeText,
.moreText {
  text-align: center;
  margin-right: 15px;
  font-family: "Kanit", sans-serif;
}

.signInButton {
  margin-top: 65px !important;
  margin-bottom: 30px !important;
  background-color: rgba(63, 217, 227, 0.714) !important;
  color: rgb(4, 4, 62) !important;
  width: 10vw;
  height: 8vh;
  font-family: "Kanit", sans-serif;
}

.signInButton:hover {
  background-color: rgba(8, 239, 255, 0.5) !important;
}

.navBarContainer {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px 20px 0px;
  margin-bottom: 20px;
}

.navBarLogo {
  height: 65px;
  width: 110px;
}

.horizontalSeparator {
  width: 100vw;
  background-color: rgb(54, 202, 239);
  height: 1px;
  margin-bottom: 50px;
}

.navButtons {
  font-family: "Kanit", sans-serif !important;
  background-color: none !important;
  color: white !important;
  width: 250px !important;
}

.navButtons:hover {
  background-color: rgba(10, 219, 234, 0.5) !important;
}

.loginBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.centeredTabPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton,
.registerButton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  margin: auto !important;
  background-color: rgb(8, 3, 76) !important;
  color: rgb(0, 255, 98) !important;
  width: 15vw !important;
  margin-top: 35px !important;
}

.loginButton:hover,
.registerButton:hover {
  background-color: rgba(40, 6, 58, 0.864) !important;
  color: yellowgreen !important;
}

.loginTextField,
.registerTextField {
  margin: 25px !important;
}
